#messages-block {
    display: flex;
    padding: 7em 0em;
    flex-direction: column;
    width: 100dvw;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #e7e7e7;
    overflow-y: auto;
    min-height: 100dvh;
}

.message-details {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#messages-block-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#messages-block-child {
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2em;
    gap: 15px;
}

#messages-block-child .single-message-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 2px;
}

#messages-block-child .single-message {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    position: relative;
    min-width: 30em;
    gap: 15px;
    padding: 3%;
}

#messages-block-child .single-message img {
    width: 10em;
    height: fit-content;
    object-fit: cover;
}

.open-message-details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30em;
    padding: 5%;
    gap: 1em;
}

.open-message-details .notification-success,
.single-message .pending,
.open-message-details .complete {
    width: 2em !important;
    object-fit: cover;
}

.open-message-details button {
    background-color: black;
    padding: 1% 3%;
    font-size: .8em;
}

.open-message-details p {
    text-align: center;
    font-size: 0.8em;
}

#emoji-block {
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #949494;
    z-index: 99;
}

.emoji {
    padding: 8px;
    font-weight: bolder;
    cursor: pointer;
}

.emoji-icon {
    cursor: pointer;
}

.open-emoji,
.close-emoji {
    cursor: pointer;
}