/* HOME PAGE CSS */
#dashboard {
    display: flex;
    position: relative;
    margin-top: 5em;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between
}

#dashboard>* {
    padding: 2.5em 0em;
}

.head-background {
    position: relative;
    width: 100vw;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    height: 100%;
    object-position: center;
}

.home-heading {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    color: white;
    text-align: center;
}


.home-heading div h1 {
    font-size: 3.5em;
}

.home-heading p {
    width: 50em;
}

.home-heading h3 {
    font-size: 2.5em;
    font-weight: lighter;
}

.home-heading button {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: coral;
    font-size: 0.8em;
    text-decoration: none;
    color: white;
}

/* CARAOUSEL STYLING CUSTOM DESIGN FOR CAROUSEL */

.head-background .swiper-horizontal {
    position: absolute !important;
    height: 100%;
    width: 100%;
}

#top-picks .swiper-pagination,
.dashboard-dynamics .swiper-pagination {
    display: none !important;
}

#top-picks .swiper,
.dashboard-dynamics .swiper {
    padding: 3em 0em 0em;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-button-next {
    color: black !important;
}

.swiper-slide {
    display: flex !important;
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
}

/* TOP PICKS CSS */

#top-picks {
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#top-picks h2 {
    margin: 1em 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top-picks-cards {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.top-picks-card {
    width: 13em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.top-picks-card img {
    width: 10em;
    height: 10em;
    object-fit: contain;
}

.top-picks-card button {
    width: 5em;
    height: 1.5em;
    margin-bottom: 1em;
    background: coral;

}

/* NEW-ARRIVALS STYLING */
.dashboard-dynamics {
    width: 100%;
    height: 100%;
    position: relative;
}

.dashboard-dynamics-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25em;
    color: white;
    text-align: center;
    position: relative;
}

.dashboard-dynamics-head img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.dashboard-dynamics-head .blur-hash {
    position: absolute !important;
    z-index: -1;
}

.dashboard-dynamics-head>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dashboard-dynamics-head div h1 {
    font-size: 3.5em;
}

.dashboard-dynamics-head div p {
    background-color: #ffb8b8;
    text-align: center;
    width: fit-content;
    padding: 0em 1em;
}

/* SUMMER SALES STYLING */

@media screen and (max-width:800px) {

    #dashboard h1 {
        font-size: 7vw !important;
    }


    #dashboard p {
        font-size: 3.5vw;
    }

    .head-background {
        height: 43em;
    }

    .home-heading button {
        font-size: 0.7em;
        padding: 5px 15px;
        font-weight: lighter;
    }

    #logo img {
        width: 3em;
    }

    .top-picks-card {
        width: 10em;
        height: 15em;
    }

    .top-picks-card img {
        width: 6em;
    }

    #new-arrivals-head,
    #summer-sales-head {
        height: 15em;
    }
}