/* AUTHENTICATION STYLING */
#authentication-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100svh;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
}

.authentication-utility {
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 3em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.auth-lottie {
    width: 20em;
}

.authentication-utility .authentication-form>* {
    padding: 5px 50px;
}

.authentication-utility .authentication-form form {
    display: flex;
    flex-direction: column;
}

.authentication-utility .authentication-form form>* {
    margin: 10px 0px;
}

.authentication-utility .authentication-form form button {
    padding: 8px;
    background-color: coral;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authentication-utility .authentication-form p {
    width: inherit;
    text-align: center;
    padding: 10px 10px;
    margin: 5%;
}

.change-authentication button {
    padding: 8px;
    background-color: coral;
    opacity: .8;
    border-radius: 5px;
    margin-left: 5px;
}

@media screen and (max-width:800px) {
    .authentication-utility .authentication-form>* {
        padding: 3vw 10vw;
    }

    .PhoneInput {
        width: inherit;
    }
}