@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

#root {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.loader-lottie {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-lottie svg {
    width: unset !important;
    height: unset !important;
}

input {
    background: rgb(231, 231, 231);
    padding: 10px 15px 10px 8px;
    border: 0;
    transition: .5s ease;
}

label {
    color: #ffc400;
}

input:focus {
    transition: 0.5s ease;
    outline: 0;
    border-radius: 5px;
}

input:focus::placeholder {
    color: transparent;
    padding: 5px;
}

input::placeholder {
    opacity: .8;
    padding: 5px;
}

a {
    transition: .2s ease-in;
}

button {
    transition: .2s ease-in;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    opacity: .9;
    transition: .2s ease;
}

button:hover,
a:hover {
    transition: .2s ease;
    scale: 1.01;
    opacity: 1;
}

html {
    scroll-behavior: smooth;
}


p {
    font-family: 'Rubik', sans-serif;
}

.icons {
    pointer-events: none;
}


.blur-hash {
    width: 100% !important;
    height: 100% !important;
}

.image-spinner {
    width: 20px;
}

/* PRODUCT DASHBOARD OR start PAGE */

.search-head {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
}

.productPagination {
    width: 100vw;
    margin-top: 50em;
}

@media screen and (max-width:800px) {
    .image-spinner {
        width: 15px;
    }

    .blur-hash {
        height: 10em !important;
    }

    .Toastify__toast {
        right: 0;
        position: absolute;
        min-height: unset !important;
        font-size: .8em !important;
        padding: 6px 15px !important;
    }

    .Toastify__toast-container--top-right {
        top: 5% !important;
        left: unset !important;
        right: 5% !important;
    }
}